<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="cordova-plugin-horseman" 
        version="1.0.0">
   <!--Plugin Name -->     
   <name>HorseMan</name>
   <js-module name="HorseMan" src="www/HorseMan.js">
      <!-- Clobber is a portion through which you access your plugin from outside world-->
      <clobbers target="HorseMan" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="HorseMan">
            <!-- Package name should be always prefers to . not dash - -->
            <param name="android-package" value="cordova.plugin.horseman.HorseMan" />
         </feature>
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.hardware.usb.host"/>
        </config-file>
      <!-- target-dir name should be always prefers to / not dash - -->
      <source-file src="src/android/HorseMan.java" target-dir="src/cordova/plugin/horseman/HorseMan" />
   </platform>
</plugin>